<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}MyBlog{% endblock %}</title>
</head>

<body>
<header>
    <h2>MyBlog</h2>
</header>
<hr/>

<nav>
    <div class="navi">
    {% block nav %}
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'create_message' %}">Create</a>
    {% endblock %}
    </div>
    <hr/>
    <div class="log">
{% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Log Out</a>
{% else %}
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
    </div>
</nav>

<nav class="edit">
    <div>
        {% if user.is_superuser %}
        <hr/>
        <a href="/admin">Admin</a>
        {% endif %}
        {% block actions %}
        {% endblock %}
    </div>
</nav>

<div class="main">
{% block content %}
{% endblock %}
</div>

</body>
</html>
